{% load heroicons %}

<a href="{% url 'dashboard' %}" class="text-gray-600 dark:text-gray-300 hover:bg-gray-50 dark:hover:bg-gray-700 group flex items-center px-2 py-2 text-base font-medium rounded-md">
    {% heroicon_outline "home" class="mr-4 flex-shrink-0 h-6 w-6" %}
    Dashboard
</a>
<a href="{% url 'employee_list' %}" class="text-gray-600 dark:text-gray-300 hover:bg-gray-50 dark:hover:bg-gray-700 group flex items-center px-2 py-2 text-base font-medium rounded-md">
    {% heroicon_outline "users" class="mr-4 flex-shrink-0 h-6 w-6" %}
    Employees
</a>
<a href"#" class="text-gray-600 dark:text-gray-300 hover:bg-gray-50 dark:hover:bg-gray-700 group flex items-center px-2 py-2 text-base font-medium rounded-md">
    {% heroicon_outline "home" class="mr-4 flex-shrink-0 h-6 w-6" %}
    Departments
</a>
<a href="{% url 'workflow_list' %}" class="text-gray-600 dark:text-gray-300 hover:bg-gray-50 dark:hover:bg-gray-700 group flex items-center px-2 py-2 text-base font-medium rounded-md">
    {% heroicon_outline "document" class="mr-4 flex-shrink-0 h-6 w-6" %}
    Workflows
</a>
<a href="{% url 'inbox_list' %}" class="text-gray-600 dark:text-gray-300 hover:bg-gray-50 dark:hover:bg-gray-700 group flex items-center px-2 py-2 text-base font-medium rounded-md">
    {% heroicon_outline "inbox" class="mr-4 flex-shrink-0 h-6 w-6" %}
    Inbox
    <span class="ml-auto inline-block py-0.5 px-3 text-xs font-medium rounded-full bg-indigo-100 text-indigo-800 dark:bg-indigo-800 dark:text-indigo-100">
        {{ unread_messages_count }}
    </span>
</a>
<a href="{% url 'chat_list' %}" class="text-gray-600 dark:text-gray-300 hover:bg-gray-50 dark:hover:bg-gray-700 group flex items-center px-2 py-2 text-base font-medium rounded-md">
    {% heroicon_outline "chat-bubble-bottom-center-text" class="mr-4 flex-shrink-0 h-6 w-6" %}
    Chat
    <span class="ml-auto inline-block py-0.5 px-3 text-xs font-medium rounded-full bg-indigo-100 text-indigo-800 dark:bg-indigo-800 dark:text-indigo-100">
        {{ unread_chats_count }}
    </span>
</a>
<a href="" class="text-gray-600 dark:text-gray-300 hover:bg-gray-50 dark:hover:bg-gray-700 group flex items-center px-2 py-2 text-base font-medium rounded-md">
    {% heroicon_outline "cog" class="mr-4 flex-shrink-0 h-6 w-6" %}
    Settings
</a>