{% extends 'base_dashboard.html' %}
{% load static %}
{% load tailwind_tags %}
{% load heroicons %}

{% block title %}{{ employee.get_full_name }} - Employee Detail{% endblock %}

{% block dashboard_content %}
<div class="container mx-auto px-4 sm:px-6 lg:px-8 py-8">
    <h1 class="text-3xl font-bold text-gray-900 dark:text-white mb-6">{{ employee.get_full_name }}</h1>

    <div class="bg-white dark:bg-gray-800 shadow-md rounded-lg overflow-hidden">
        <div class="p-6">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div>
                    <h2 class="text-2xl font-semibold text-gray-900 dark:text-white mb-4">Personal Information</h2>
                    <p><strong class="font-medium">Employee ID:</strong> {{ employee.employee_id }}</p>
                    <p><strong class="font-medium">Date of Birth:</strong> {{ employee.dateOfBirth_ippis }}</p>
                    <p><strong class="font-medium">Email:</strong> {{ employee.email }}</p>
                    <p><strong class="font-medium">Phone:</strong> {{ employee.employeedetail.phone_number }}</p>
                    <p><strong class="font-medium">Address:</strong> {{ employee.employeedetail.address }}</p>
                </div>
                <div>
                    <h2 class="text-2xl font-semibold text-gray-900 dark:text-white mb-4">Employment Information</h2>
                    <p><strong class="font-medium">Department:</strong> {{ employee.department.name }}</p>
                    <p><strong class="font-medium">Current Position:</strong> {{ employee.current_rank }}</p>
                    <p><strong class="font-medium">Date of First Appointment:</strong> {{ employee.dateOfFirstAppointment_ippis }}</p>
                    <p><strong class="font-medium">Years of Service:</strong> {{ employee.years_of_service }}</p>
                    <p><strong class="font-medium">Role:</strong> {{ employee.role }}</p>
                </div>
            </div>
            
            <div class="mt-8 flex space-x-4">
                {% if request.user == employee or request.user.role in 'DG,DIR,ZD,HOD' %}
                    <a href="{% url 'employee_update' employee.id %}" class="bg-primary hover:bg-primary-dark text-white font-bold py-2 px-4 rounded">Edit Employee</a>
                {% endif %}
                {% if request.user.role in 'DG,DIR,ZD,HOD' %}
                    <a href="{% url 'assign_role' employee.id %}" class="bg-secondary hover:bg-secondary-dark text-white font-bold py-2 px-4 rounded">Assign Role</a>
                {% endif %}
                <a href="{% url 'retirement_calculation' employee.id %}" class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded">Calculate Retirement</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}